body{
    background-color: rgb(53, 53, 53);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}

#container{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat( 2, 1fr);
      padding: 100px;
      gap: 100px;
    
}

.card{
      border: 2px solid white;
}